<div id="<%= dom_id collection %>">
  <p>
    <strong>Name:</strong>
    <%= collection.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= collection.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= collection.category %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= collection.image_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collection.user_id %>
  </p>

  <p>
    <strong>Custom string1 state:</strong>
    <%= collection.custom_string1_state %>
  </p>

  <p>
    <strong>Custom string1 name:</strong>
    <%= collection.custom_string1_name %>
  </p>

  <p>
    <strong>Custom string2 state:</strong>
    <%= collection.custom_string2_state %>
  </p>

  <p>
    <strong>Custom string2 name:</strong>
    <%= collection.custom_string2_name %>
  </p>

  <p>
    <strong>Custom string3 state:</strong>
    <%= collection.custom_string3_state %>
  </p>

  <p>
    <strong>Custom string3 name:</strong>
    <%= collection.custom_string3_name %>
  </p>

  <p>
    <strong>Custom int1 state:</strong>
    <%= collection.custom_int1_state %>
  </p>

  <p>
    <strong>Custom int1 name:</strong>
    <%= collection.custom_int1_name %>
  </p>

  <p>
    <strong>Custom int2 state:</strong>
    <%= collection.custom_int2_state %>
  </p>

  <p>
    <strong>Custom int2 name:</strong>
    <%= collection.custom_int2_name %>
  </p>

  <p>
    <strong>Custom int3 state:</strong>
    <%= collection.custom_int3_state %>
  </p>

  <p>
    <strong>Custom int3 name:</strong>
    <%= collection.custom_int3_name %>
  </p>

  <p>
    <strong>Custom txt1 state:</strong>
    <%= collection.custom_txt1_state %>
  </p>

  <p>
    <strong>Custom txt1 name:</strong>
    <%= collection.custom_txt1_name %>
  </p>

  <p>
    <strong>Custom txt2 state:</strong>
    <%= collection.custom_txt2_state %>
  </p>

  <p>
    <strong>Custom txt2 name:</strong>
    <%= collection.custom_txt2_name %>
  </p>

  <p>
    <strong>Custom txt3 state:</strong>
    <%= collection.custom_txt3_state %>
  </p>

  <p>
    <strong>Custom txt3 name:</strong>
    <%= collection.custom_txt3_name %>
  </p>

  <p>
    <strong>Custom date1 state:</strong>
    <%= collection.custom_date1_state %>
  </p>

  <p>
    <strong>Custom date1 name:</strong>
    <%= collection.custom_date1_name %>
  </p>

  <p>
    <strong>Custom date2 state:</strong>
    <%= collection.custom_date2_state %>
  </p>

  <p>
    <strong>Custom date2 name:</strong>
    <%= collection.custom_date2_name %>
  </p>

  <p>
    <strong>Custom date3 state:</strong>
    <%= collection.custom_date3_state %>
  </p>

  <p>
    <strong>Custom date3 name:</strong>
    <%= collection.custom_date3_name %>
  </p>

</div>
