<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= item.tags %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= item.collection_id %>
  </p>

  <p>
    <strong>Custom string1 value:</strong>
    <%= item.custom_string1_value %>
  </p>

  <p>
    <strong>Custom string2 value:</strong>
    <%= item.custom_string2_value %>
  </p>

  <p>
    <strong>Custom string3 value:</strong>
    <%= item.custom_string3_value %>
  </p>

  <p>
    <strong>Custom int1 value:</strong>
    <%= item.custom_int1_value %>
  </p>

  <p>
    <strong>Custom int2 value:</strong>
    <%= item.custom_int2_value %>
  </p>

  <p>
    <strong>Custom int3 value:</strong>
    <%= item.custom_int3_value %>
  </p>

  <p>
    <strong>Custom txt1 value:</strong>
    <%= item.custom_txt1_value %>
  </p>

  <p>
    <strong>Custom txt2 value:</strong>
    <%= item.custom_txt2_value %>
  </p>

  <p>
    <strong>Custom txt3 value:</strong>
    <%= item.custom_txt3_value %>
  </p>

  <p>
    <strong>Custom date1 value:</strong>
    <%= item.custom_date1_value %>
  </p>

  <p>
    <strong>Custom date2 value:</strong>
    <%= item.custom_date2_value %>
  </p>

  <p>
    <strong>Custom date3 value:</strong>
    <%= item.custom_date3_value %>
  </p>

</div>
