<div id="item">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= item.tags %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= link_to item.collection.name, collection_path(item.collection) %>
  </p>

  <% if item.custom_string1_value.present? && item.collection.custom_string1_state %>
    <p>
      <strong><%= item.collection.custom_string1_name %>:</strong>
      <%= item.custom_string1_value %>
    </p>
  <% end %>

  <% if item.custom_string2_value.present? && item.collection.custom_string2_state %>
    <p>
      <strong><%= item.collection.custom_string2_name %>:</strong>
      <%= item.custom_string2_value %>
    </p>
  <% end %>

  <% if item.custom_string3_value.present? && item.collection.custom_string3_state %>
    <p>
      <strong><%= item.collection.custom_string3_name %>:</strong>
      <%= item.custom_string3_value %>
    </p>
  <% end %>

  <% if item.custom_int1_value.present? && item.collection.custom_int1_state %>
    <p>
      <strong><%= item.collection.custom_int1_name %>:</strong>
      <%= item.custom_int1_value %>
    </p>
  <% end %>

  <% if item.custom_int2_value.present? && item.collection.custom_int2_state %>
    <p>
      <strong><%= item.collection.custom_int2_name %>:</strong>
      <%= item.custom_int2_value %>
    </p>
  <% end %>

  <% if item.custom_int3_value.present? && item.collection.custom_int3_state %>
    <p>
      <strong><%= item.collection.custom_int3_name %>:</strong>
      <%= item.custom_int3_value %>
    </p>
  <% end %>

  <% if item.custom_txt1_value.present? && item.collection.custom_txt1_state %>
    <p>
      <strong><%= item.collection.custom_txt1_name %>:</strong>
      <%= item.custom_txt1_value %>
    </p>
  <% end %>

  <% if item.custom_txt2_value.present? && item.collection.custom_txt2_state %>
    <p>
      <strong><%= item.collection.custom_txt2_name %>:</strong>
      <%= item.custom_txt2_value %>
    </p>
  <% end %>

  <% if item.custom_txt3_value.present? && item.collection.custom_txt3_state %>
    <p>
      <strong><%= item.collection.custom_txt3_name %>:</strong>
      <%= item.custom_txt3_value %>
    </p>
  <% end %>

  <% if item.custom_date1_value.present? && item.collection.custom_date1_state %>
    <p>
      <strong><%= item.collection.custom_date1_name %>:</strong>
      <%= item.custom_date1_value %>
    </p>
  <% end %>

  <% if item.custom_date2_value.present? && item.collection.custom_date2_state %>
    <p>
      <strong><%= item.collection.custom_date2_name %>:</strong>
      <%= item.custom_date2_value %>
    </p>
  <% end %>

  <% if item.custom_date3_value.present? && item.collection.custom_date3_state %>
    <p>
      <strong><%= item.collection.custom_date3_name %>:</strong>
      <%= item.custom_date3_value %>
    </p>
  <% end %>
</div>
